@font-face
{
	font-family: 'HelveticaNeue';
	src: url('../assets/fonts/HelveticaNeueLTStd-Blk.woff');
}

@keyframes blink
{
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}

body, html,
main, header, footer,
button, input,
div, p, span, a,
h1, h2, h3, h4, h5, h6,
ul, ol, li
{
	margin: 0;
	padding: 0;
	font: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	text-decoration: none;
	color: inherit;
	border: none;
	background: transparent;
	text-transform: inherit;
}

ul, ol, li
{
	list-style: none;
}

video,
img
{
	display: block;
}

html,
body
{
	background-color: black;
}

.wrapper
{
	position: relative;
	width: 100%;
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fade
{
	opacity: 0;
	transition: opacity linear 1s;
}

.fade[data-show="true"]
{
	opacity: 1;
}

/*** HEADER ***/

.header
{
	width: 400px;
	margin-top: 100px;
	margin-bottom: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header_logo
{
	width: 70%;
}

.header_logo > img
{
	width: 100%;
}

.header_sub
{
	margin-top: 10px;
	font-size: 0.7em;
	text-align: center;
}

@media ( max-width: 500px )
{
	.header { width: 95%; }
	.header_sub { font-size: 0.6em };
}

/*** VIEWFINDER ***/

.viewfinder
{
	position: fixed;
	width: 300px;
	height: 300px;
	top: calc(50vh - 150px);
	left: calc(50vw - 150px);
}

@media ( max-width: 350px )
{
	.viewfinder {
		width: 90vw;
		height: 90vw;
		top: calc(50vh - 45vw);
		left: 5vw;
	}
}

.viewfinder_mask
{
	position: absolute;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-radius: 15px;
}

.viewfinder_mask-1
{
	filter: blur(5px);
	border-color: red;
	opacity: 0.3;
	border-width: 5px;
	top: -5px;
	left: -5px;
}

.viewfinder_mask-2
{
	filter: blur(1px);
	border-color: black;
	opacity: 1;
	border-width: 10px;
	top: -10px;
	left: -10px;
}

.viewfinder_mask-2::before
{
	content: '';
	width: 0;
	height: calc(100% - 15px);
	border-left: solid black 10px;
	border-radius: 10px;
	position: absolute;
	left: -8px;
	bottom: 2px;
}

.viewfinder_visual
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity linear 0.3s;
	object-position: center;
	object-fit: cover;
}

.viewfinder_visual[data-active="true"]
{
	opacity: 1;
}

/*** TRACKS ***/

.tracks
{
	width: 500px;
	margin-bottom: 250px;
}

.tracks > * + *
{
	margin-top: 200px;
}

.track
{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.track[data-preview="true"]
{
	cursor: pointer;
}

.track > * + *
{
	margin-top: 5px;
}

.track:nth-child(1) { margin-left: 00%; }
.track:nth-child(2) { margin-left: 50%; }
.track:nth-child(3) { margin-left: 15%; }
.track:nth-child(4) { margin-left: 35%; }
.track:nth-child(5) { margin-left: 05%; }

@media ( max-width: 600px )
{
	.tracks
	{
		width: 90%;
	}
	.track
	{
		width: 100%;
	}
	.track:nth-child(1),
	.track:nth-child(2),
	.track:nth-child(3),
	.track:nth-child(4),
	.track:nth-child(5)
	{
		margin-left: 0;
	}
}

.track_title
{
	font-size: 1.1em;
}

.track_date
{
	font-size: 0.8em;
}

.track_play
{
	font-size: 0.7em;
	visibility: hidden;
}

.track[data-preview="true"]:hover .track_play
{
	visibility: visible;
	animation: blink linear 0.8s infinite;
}

.track_play::before
{
	content: '(';
	margin-right: 0.1em;
}

.track_play::after
{
	content: ')';
	margin-left: 0.1em;
}

/*** BIO ***/

.bio
{
	width: 650px;
	text-align: center;
	margin-bottom: 250px;
}

@media ( max-width: 700px )
{
	.bio {
		width: 95%;
		font-size: 0.8em;
	}
}

/*** LINKS ***/

.links
{
	font-size: 0.7em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 250px;
}

.links > * + *
{
	margin-top: 15px;
}

.link
{
	border-bottom: solid white 2px;
	text-align: center;
}

/*** FOOTER ***/

.footer
{
	margin-bottom: 30px;
	font-size: 0.6em;
}
